body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: #e8491d;
    color: #ffffff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Använd anpassade teckensnitt för kroppen och rubriken */
body {
    font-family: 'Roboto', sans-serif; /* Ställ in kroppens teckensnitt till Roboto */
    line-height: 1.6; /* Förbättra läsbarheten med ökad radavstånd */
}
header, h1, h2 {
    font-family: 'Montserrat', sans-serif; /* Ställ in rubrikens teckensnitt till Montserrat */
}